input, textarea, label {
  font-size: 1rem;
  padding: .5rem;
  display: block;
  margin-bottom: 3rem;
}

textarea {
  min-width: 50vw;
}

.edit img {
  width: 20rem;
}

.edit label {
  padding: 0;
  display: inline-block;
}

button, .uploadButton {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, .2) 1px 1px 2px;
  font-family: 'Josefin sans';
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: .6rem;
}