input, textarea, label {
  font-size: 1rem;
  padding: .5rem;
  display: block;
  margin-bottom: 3rem;
}

textarea {
  min-width: 50vw;
}

.edit img {
  width: 20rem;
}

.edit label {
  padding: 0;
}

.uploadButton {
  width: 120px;
  height: 30px;
  border: none;
  font-family: 'Josefin sans';
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: .6rem;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, .2) 1px 1px 2px;
  margin-top: 1rem;
}