.header-container {
  position: fixed;
  width: 100vw;
  height: 10vh;
  display: grid;
  place-items: end;
  z-index: 2;
}

.header-container header a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #fff;
  font-family: 'eskapade-fraktur', serif;
  justify-items: end;

}
.header-container header p {
  font-size: 1.3rem;
  font-weight: 100;
  color: #fff;
  font-family: 'eskapade-fraktur', serif;
  justify-content: start;
  margin-left: 2rem;
  margin-right: 2rem;

}

.burger-menu {
  display: none;
  z-index: 2;
}

header {
  width: 100vw;
  height: 10vh;
  display: grid;
  grid-template-columns:  1fr 1fr;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  z-index: 1;
  z-index: 3;
}

.header-right-items {
  display: grid;
  grid-auto-flow: column;
  place-content: end;
  gap: 1rem;
  margin-right: 2rem;
  align-items: center;
}

[aria-current='page'], .active {
  font-weight: bold;
}

@media (max-width: 1000px) {

  .header-container {
    place-items: center;
  }
   
  header {
    transform: translateY(-150%);
    grid-auto-flow: row;
    align-content: center;
    min-height: 100vh;
    transition: .7s ease;
    align-items: center;
    justify-content: center;
    background: #161616;
  }

  header h1 {
    margin: 0;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
    height: 10vh;
  }

  header.a {
    font-size: 1.3rem;
  }

  header.visible {
    transform: translateY(0);
  }

  main {
    padding: 2rem;
  }
}