
.introPage {
  display: grid;
  place-items: start;
  align-content: start;
  margin-left: 10rem;
}

.introPage h1 {
  color: #fff;
  font-size: 4rem;
  justify-content: start;
  font-family: 'eskapade-fraktur', serif;
}
.introPage p{
  color: #fff;
  font-size: 2rem;
  justify-content: start;
  font-family: 'eskapade-fraktur', serif;
  padding-top: 1rem;
}

.introPage .name {
  color: #fff;
  /* color: rgb(133, 12, 12); */
  font-size: 5rem;
}


.introPage.name:hover {
  transform: none;
  cursor: pointer;
}

.introPage p:hover {
  transform: scale(1.1);
  cursor: pointer;
}

h3 {
  color: #fff;
}

a {
  color: #fff;
}

@media (max-width: 1000px) {
  .introPage p {
    font-size: 2.5rem;
  }
}
