
.introPage {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: start;
  align-content: start;
  padding-left: 10vw;
  padding-top: 15vh;
}

.introPage h1 {
  color: #fff;
  font-size: 4rem;
  justify-content: start;
  font-family: 'eskapade-fraktur', serif;
  /* position: -webkit-sticky;
  position: sticky; */
  top: 20vh;
}
.introPage p{
  color: #fff;
  font-size: 4rem;
  justify-content: start;
  font-family: 'eskapade-fraktur', serif;
  /* position: -webkit-sticky;
  position: sticky; */
  top: 20vh;
  padding-top: 1rem;
}

.introPage .name {
  color: rgb(133, 12, 12);
  font-size: 5rem;
}


.introPage.name:hover {
  transform: none;
  cursor: pointer;
}

.introPage p:hover {
  transform: scale(1.1);
  cursor: pointer;
}

h3 {
  color: #fff;
}

a {
  color: #fff;
}
